name: Minify Workflow
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          paths: 'global_styles.css'

      - name: Auto Minify
        uses: nizarmah/auto-minify@v2.1
        with:
          input: 'HUSU'
          output: 'css'

      # Auto-commit to repository
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          repository: 'css'
          commit_message: Minify source code
          branch: ${{ github.ref }}
